@{
    ViewData["Title"] = "Edition d'un personne";
}
@using Isen.Dotnet.Library.Model;
@using Isen.Dotnet.Library.Context;
@model Personne;
@inject ApplicationDbContext _context;

<h2>Création ou édition <small>d'une personne</small></h2>
<form class="form-group" asp-action="Edit">

    <h3>Identité <small>de la personne</small></h3>
    <div class="row">
       
        <div class="col-6">
            <div class="form-group">
                <label for="Nom">Nom</label>
                <input
                    id="Nom"
                    type="text"
                    class="form-control"
                    placeholder="Nom"
                    asp-for="Nom"
                    value="@Model?.Nom" />
            </div>
        </div>
    </div>
    <h3>Roles <small>de la personne</small></h3>
    <div class="col-6">
        <div class="form-group">
            <label for="RolePersonne">Roles</label>
            @Html.DropDownListFor(
                // Quel est le champ du modèle que l'on 
                // met à jour avec cette liste ?
                p => p.RolePersonneId,
                // Liste des éléments
                new SelectList(
                    // La liste
                    _context.RoleCollection,
                    // Le champ d'id
                    "Id",
                    // Le champ de libellé
                    "NomRole"
                ),
                // Item par défaut
                "Sélectionnez un role...",
                // Classe CSS
                new { @class = "form-control" }
            )
        </div>
    </div>

    <h3>Service <small>de la personne</small></h3>
    
    <div class="col-6">
        <div class="form-group">
            <label for="ServicePersonne">Service</label>
            @Html.DropDownListFor(
                // Quel est le champ du modèle que l'on 
                // met à jour avec cette liste ?
                p => p.ServicePersonneId,
                // Liste des éléments
                new SelectList(
                    // La liste
                    _context.ServiceCollection,
                    // Le champ d'id
                    "Id",
                    // Le champ de libellé
                    "NomService"
                ),
                // Item par défaut
                "Sélectionnez un service...",
                // Classe CSS
                new { @class = "form-control" }
            )
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Valider</button>
                <a class="btn btn-secondary" asp-action="Index">Annuler</a>
            </div>
        </div>
    </div>

</form>        
