@{
    ViewData["Title"] = "Liste des personnes Projet";
}
@using Isen.Dotnet.Web.Model;
@model IEnumerable<Personne>;
<div>
    <h1>Liste <small>des personnes</small></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Tel</th>
                <th scope="col">Email</th>
                <th scope="col">Action...</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>